*.log
*.def
*.lg.def
*.mr.def
*.abcd.def
*.fix.def
*.gp.def
*.py
*.swo
*.swd
*.swp
*/**/*.o

Makefile
CMakeCache.txt
*.cmake
CMakeFiles
install_manifest.txt
build
bench
iccad2014_after_dp
iccad2015_after_dp
iccad2014_logs
iccad2015_logs
iccad2017_after_dp
iccad2017_logs
iccad2017_fix_after_dp
iccad2017_fix_logs



